<form>
  <div class="form-group flow-up">
    <input type="text"
           class="form-control"
           name="name"
           placeholder="Full Name"
           required="required">
    <i class="flaticon-user"></i>
  </div>
  <div class="form-group flow-up">
    <input type="email"
           class="form-control"
           name="email"
           placeholder="Your Email"
           required="required">
    <i class="flaticon-envelope"></i>
  </div>
  <div class="form-group flow-up">
    <input type="password"
           class="form-control"
           name="password"
           placeholder="Password"
           required="required">
    <i class="flaticon-padlock"></i>
  </div>
  <div class="form-group flow-up">
    <div class="fxt-content-between">
      <button type="submit"
              class="fxt-btn-fill">Register</button>
      <div class="checkbox">
        <input id="checkbox1"
               type="checkbox">
        <label for="checkbox1">I agree the terms of services</label>
      </div>
    </div>
  </div>
</form>
